.dashboard {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

.dashboardRight {
  width: 20rem;
}

.dashboardRight button {
  width: 100%;
}

